/* reset.css */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
mark,
nav,
section,
summary {
  display: block;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default table styling */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default form styling */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove default body margin */
body {
  line-height: 1.5;
}
